name: flutter_scene
description: 3D rendering library for Flutter. Currently only supported when Impeller is enabled.
version: 0.9.2-0
repository: https://github.com/bdero/flutter_scene
homepage: https://github.com/bdero/flutter_scene
platforms:
  macos:
  ios:
  android:
  windows:
  linux:

environment:
  sdk: '>=3.7.0-75.0.dev <4.0.0'
  flutter: ">=3.29.0-1.0.pre.242"

dependencies:
  collection: ^1.19.0
  flutter:
    sdk: flutter
  flutter_gpu:
    sdk: flutter
  flutter_gpu_shaders: ^0.3.0
  #flutter_gpu_shaders:
  #  path: ../flutter_gpu_shaders
  #flutter_scene_importer: ^0.9.0-0
  flutter_scene_importer:
    path: ./importer
  native_assets_cli: '>=0.13.0 <0.14.0'
  vector_math: ^2.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  test: ^1.25.15

flutter:
  assets:
    - build/shaderbundles/base.shaderbundle
    - assets/ibl_brdf_lut.png

    # Default environment map.
    - assets/royal_esplanade.png
    - assets/royal_esplanade_irradiance.png
